doctype html
html(lang="en")
    head
        title Web Technology Coursework 2 - To Do App
        link(rel="stylesheet", href="/static/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet")
    body
        div.container
            h1.logo To Do App

            block header